.body{
  background: #f9f9f9;
  font-family: "Microsoft YaHei";
}
.footer{
  clear:both;
}
.content{
  /* border:1px solid red; */
  margin-top:20px;
}
.content-panel1{
  background-color: white;
  height:auto;
  padding:40px 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.06);
}
.content-panel1 p:first-child{
  font-size: 25px;
  color:#4a4a4a;
  letter-spacing: 0.02px;
  text-align: left;
}
.content-panel1 p:nth-child(2){
  color:#0157ff !important;
  font-weight: 600;
}
.content-panel2{
  margin-top:20px;
  background-color: white;
  height:auto;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.06);
  border:none;
  padding:5px 0px 20px;
}
.table > tbody > tr > th,.table > tbody > tr > td{
  border-top: none !important;
}
/* .content-panel3{
  background-color: white;
  height:auto;
  padding:40px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.06); 
}  */
.content-panel3 p:first-child{
  font-size: 25px;
  font-weight: 700;
  min-height: 46px;
  color: #4a4a4a;
}
.info_tag{
  color: #666;
  white-space: nowrap;
  line-height: 40px;
  font-size: 14px;
}
.content-show{
  margin-top:30px;
}
.content-panel3 img{
  margin-bottom:30px;
}
.content-panel3{
  background-color: white;
  height:auto;
  padding:20px 40px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.06); 
} 