.body{
  background: #f9f9f9;
  font-family: "Microsoft YaHei";
}
.square{
position: absolute;
top:120px;
left:350px;
width:400px;
height:150px;
}
.square-1{
position: absolute;
top:0px;
left:0px;
  width: 130px;
  height: 70px;
  border: 1px solid #fff;
}
.square-2{
position: absolute;
top:5px;
left:5px;
  width: 130px;
  height: 70px;
  border: 1px solid #fff;
}
.square-3{
position: absolute;
top:20px;
left:35px;
color:white;
font-family: "微软雅黑";
cursor: pointer;
}
.square h5{
color:white;
margin-top:10px;
width:auto;
}
.content{
  margin:30px 19%;
  float: left;
}
#all2,#beautyhome2,#shiyong2,#qushi2,#discovery2,#art2{
  width:100%;
  column-count: 3;
}
.tabbar{
  position: absolute;
  display: flex;
  top:90px;
}
.tabbar p{
  justify-content: center;
  color:white;
  font-weight: bold;
  margin-right: 20px;
  transition: all 0.3s;
	cursor: pointer;
	-moz-user-select: none;
}
.tabbar p:hover{
  font-size: 18px;
}
.block{
  width:320px;
  height:auto;
  background-color: white;
  margin:0px 0px 14px 14px;
  break-inside: avoid;
  /* float: left; */
}
.detail{
  padding:15px;
}
.detail p{
  margin-bottom:10px;
  color:#4a4a4a;
}
.detail p:first-child{
  font-size: 13px;
}
.detail p:nth-child(2){
  font-weight: bold;
  font-size: 18px;
}
.detail p:nth-child(3){
  font-size: 12px;
}
.footer{
  clear: both;
}